.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url('/bg-main.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 2em 0;
}

.main h1 {
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 1em;
}

.formContainer {
  grid-column: 1 / 4;
  grid-row: 3 / -1;
}
