.form {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  width: 85%;
  height: 90%;
}

.dropZone p {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--purple);
  margin: 0;
}

.fileName {
  color: var(--pink);
}

.dragActive {
  background: #dfdad8aa;
}

.inputHidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: var(--pink);
  margin-block: 2em;
  padding: 1em 3em;
  border: none;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: var(--pink);
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.browseBtnHidden {
  display: none;
}
